<!-- app-profile-card.component.html -->
<div class="card bg-warning-subtle shadow-lg rounded" style="width: 100%;">
    <div class="card-header text-center">
        <h4 class="mb-0">¡¡¡Bienvenido!!!</h4>
    </div>
    <div class="card-body text-center">
        <img [src]="userProfile?.Photo" class="card-img-top rounded-circle mb-3"
            style="width: 100px; height: 100px; object-fit: cover;" alt="Foto de perfil">
        <h5 class="card-title mb-2">{{ userProfile?.Name }} {{ userProfile?.Surname_1 }}
        </h5>
        <p class="card-text mb-2"><cite>{{userProfile?.Email}}</cite></p>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-success w-100 me-2" (click)="userProfileModal()">Ver
            Perfil</button>
        <button type="button" class="btn btn-outline-warning w-100" data-bs-toggle="modal"
            data-bs-target="#cerrarSesionModal">Cerrar Sesión</button>
    </div>
</div>


<app-user-info-modal [selectedUser]="userProfile"></app-user-info-modal>

<div class="modal fade" id="cerrarSesionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel">Sesión</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="signOut()"
                    data-bs-toggle="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>