<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel">{{titulo}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{mensaje}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal"
                    (click)="cancel()">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal" (click)="confirm()">Aceptar</button>
            </div>
        </div>
    </div>
</div>