<div class="container" style="min-height: 100vh;">
    <div class="row justify-content-center mt-3">
        <div class="col-md-auto text-center">
            <h1 class="text-primary shadow p-3 bg-body-tertiary rounded">Lista de Usuarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary mb-3" (click)="navigateToRegister()">Registrar Usuario</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 p-2" *ngFor="let user of users">
            <app-user-card [user]="user" (userClicked)="onUserClicked($event)"></app-user-card>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-warning-subtle">
                <img src={{plenaInlcusionLogo}} class="rounded me-2" alt="..." style="height: 20px;">
                <strong class="me-auto">Plena Inclusión Aragón</strong>
                <small>Justo ahora</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                En esta página puedes ver a todos los usuarios registrados en la aplicación.
            </div>
        </div>
    </div>
</div>

<app-profile-info-modal [selectedUser]="selectedUser" (userDeleted)="ngOnInit()"></app-profile-info-modal>