.valid-DNI {
    background-color: rgb(29, 180, 29);
}

.valid-date {
    background-color: rgb(29, 180, 29);
}

.valid-input {
    background-color: rgb(29, 180, 29);
}

.valid-email {
    background-color: rgb(29, 180, 29);
}